<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" th:if="${session.usuariosession != null}" href="/noticia/listar">Egg</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyRole('PERIODISTA', 'ADMIN')" href="/admin/dashboard">Noticias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyRole('ADMIN')" href="/admin/usuarios">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" sec:authorize="hasAnyRole('ADMIN')" href="/admin/periodistas">Periodistas</a>
      </li>
    </ul>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li th:if="${session.usuariosession != null}" class="nav-item dropdown">
          <a class="navbar-brand"><img class="img-profile rounded-circle" src="img/undraw_profile.svg"></a>
          <a class="navbar-brand" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <p class="nav-link" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombreUsuario}"></p>
          </a>
            <!-- Dropdown - Logout -->
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a href="/logout" class="dropdown-item" >Cerrar Sesion</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.usuariosession == null}" href="/portal/login">Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:if="${session.usuariosession == null}" href="/portal/registrar">Registrate</a>
        </li>
    </ul>
  </div>
</nav>